/*-------------------- Multiselect Button rules --------------------*/
body {
  --select-menu-items-max-height: 15rem;
  --open-multi-select-max-height: 15rem;
}

.multi-select {
  border-radius: var(--bs-border-radius);
  border: var(--bs-border-width) solid var(--bs-border-color);
  overflow: hidden;
  background-color: var(--bs-body-bg);
}

.dropdown-menu.multi-select {
  width: 100%;
  padding: 0;
}

.multi-select.is-invalid {
  border-color: var(--bs-form-invalid-border-color);
}

.multi-select-filter {
  padding: .5rem 1rem;
  border-bottom: var(--bs-border-width) solid var(--bs-border-color);
}

.multi-select-buttons {
  padding: .25rem .5rem .4rem;
  border-bottom: var(--bs-border-width) solid var(--bs-border-color);
}

.multi-select-options {
  display: flex;
  flex-direction: column;
  overflow-y: auto !important;
  max-height: var(--open-multi-select-max-height);
}

.multi-select-option {
  padding: .25rem 1rem;
  color: var(--bs-body-color);
  text-decoration: none;
  background-color: var(--bs-body-bg);
  min-height: calc(1.5rem + .25rem + .25rem);
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.multi-select-option > .form-check-input {
  margin-right: .5rem;
}

.multi-select-option:hover {
  z-index: 1;
  color: var(--bs-emphasis-color);
  text-decoration: none;
  background-color: var(--bs-tertiary-bg);
}

[data-bs-theme=light] .btn-select {
  --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

[data-bs-theme=light] .dropup .btn-select {
  --bs-form-select-bg-img: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' style='transform: rotate(180deg);'%3E%3Cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3E%3C/svg%3E");
}

[data-bs-theme=dark] .btn-select {
  --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23dee2e6' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

[data-bs-theme=dark] .dropup .btn-select {
  --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' style='transform: rotate(180deg);'%3e%3cpath fill='none' stroke='%23dee2e6' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

.btn-select {
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-bg: var(--bs-body-bg);
  --bs-btn-border-color: var(--bs-border-color);
  --bs-btn-hover-color: var(--bs-body-color);
  --bs-btn-hover-bg: var(--bs-body-bg);
  --bs-btn-hover-border-color: var(--bs-border-color);
  --bs-btn-focus-shadow-rgb: var(--bs-primary-rgb);
  --bs-btn-active-color: var(--bs-body-color);
  --bs-btn-active-bg: var(--bs-body-bg);
  --bs-btn-active-border-color: var(--bs-border-color);
  --bs-btn-active-shadow: none;
  --bs-btn-disabled-color: var(--bs-body-color);
  --bs-btn-disabled-bg: var(--bs-secondary-bg);
  --bs-btn-disabled-border-color: var(--bs-border-color);
  --bs-gradient: none;
  width: 100%;
  min-height: 2.375rem;
  text-align: left;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
}

.btn-select.btn-xs {
  min-height: 1.45rem;
  padding: 0.1rem 2.25rem 0.1rem 0.25rem;
}

.btn-select:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: var(--bs-primary);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), 0.25);
}

.btn-select:disabled {
  color: var(--bs-btn-disabled-color);
  background-color: var(--bs-btn-disabled-bg);
  border-color: var(--bs-btn-disabled-border-color);
  opacity: 1;
}

.dropdown.is-invalid > .btn-select {
  --bs-form-select-bg-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
  border-color: var(--bs-form-invalid-border-color);
  padding-right: 4.125rem;
  background-position: right 0.75rem center, center right 2.25rem;
  background-size: 16px 12px, calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.dropdown.is-invalid > .btn-select:focus {
  border-color: var(--bs-form-invalid-border-color);
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-danger-rgb), 0.25);
}

.dropdown.is-invalid .multi-select-option, .multi-select.is-invalid .multi-select-option {
  color: var(--bs-form-invalid-color);
}

.dropdown.is-invalid .form-check-input, .multi-select.is-invalid .form-check-input {
  border-color: var(--bs-form-invalid-border-color);
}

.dropdown.is-invalid .form-check-input:checked, .multi-select.is-invalid .form-check-input:checked {
  background-color: var(--bs-form-invalid-color);
}

.dropdown.is-invalid .form-check-input:focus, .multi-select.is-invalid .form-check-input:focus {
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-danger-rgb), 0.25);
}