<nav class="navbar navbar-expand-lg bg-body-tertiary position-sticky top-0 z-1">
  <div class="container-fluid">
    <a class="navbar-brand" href="/toolbox">ISP Toolbox</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto d-none d-lg-flex">
        <li class="nav-item dropdown dropdown-menu-end">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Modules</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/toolbox/CollapseUtils.html">CollapseUtils.js</a>
            <a class="dropdown-item" href="/toolbox/Confirmation.html">Confirmation.js</a>
            <a class="dropdown-item" href="/toolbox/CopyText.html">CopyText.js</a>
            <a class="dropdown-item" href="/toolbox/Countdown.html">Countdown.js</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>