pre {
  margin-bottom: 0;
  color: #BCBEC4FF;
}
.hljs-tag, .hljs-name {
  color: #D5B778FF;
}
.hljs-attr {
  color: #BABABAFF;
}
.hljs-string {
  color: #6AAB73FF;
}
.hljs-comment {
  color: #7A7E85FF;
}
.anchor-offset {
  margin-top: calc(-1rem - 56px);
  margin-bottom: calc(1rem + 56px);
}